body {
    background-color: #f5f0ff;
    font-family: 'Poppins', sans-serif;
}


.text-purple {
    color: #6a5acd;
}



.navbar-purple {
    background: linear-gradient(135deg, #6a5acd, #8e44ad);
}

.navbar-purple .nav-link:hover {
    color: #ffddff !important;
}




.card-purple {
    background: linear-gradient(135deg, #e8ddff, #cab8ff);
    border: none;
    border-radius: 18px;
    color: #4b0082;
}

.card-purple-dark {
    background: linear-gradient(135deg, #6a5acd, #8e44ad);
    border: none;
    border-radius: 18px;
    color: white;
}


.table-purple thead {
    background-color: #6a5acd !important;
    color: white !important;
    border: none;
}

.table-striped tbody tr:nth-child(odd) {
    background-color: #f2e9ff !important;
}


.input-group-text {
    background-color: #8e44ad !important;
    color: white;
    border: none;
}

.form-control:focus {
    border-color: #6a5acd;
    box-shadow: 0 0 8px rgba(106, 90, 205, 0.6);
}


.btn-purple {
    background-color: #8e44ad;
    color: white;
    border: none;
}

.btn-purple:hover {
    background-color: #6a5acd;
    color: white;
}



.login-bg {
    background: linear-gradient(135deg, #6a5acd, #8e44ad, #b8a9ff);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.card {
    border-radius: 15px;
}


.page-title {
    color: #6a5acd;
    font-weight: bold;
}

.page-subtitle {
    color: #7a5faf;
}